@font-face {
  font-family: Montserrat;
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}
@font-face {
  font-family: Karla;
  src: url('./assets/font/Karla-VariableFont_wght.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: normal;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Karla', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: Montserrat, sans-serif !important;
  font-weight: bold;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: .5rem;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************ Banner Css ************/
.banner {
  margin: 0;
  height: 100vh;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  padding-top: 2rem;
  place-items: center;
  align-content: center;
  overflow: hidden;
}

.banner .video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.banner .video-container video {
  width: 100vw;
  height: auto;
  top: -7%;
  left: 0;
  transition: top 0.5s;
}
@media only screen and (max-aspect-ratio: 1/1) {
  .banner .video-container video{
    width: auto;
    height: 100vh;
    top: 0;
    left: auto;
    right: 0;

  }
}

.moreButton {
  position: absolute;
  bottom: -3%;
  left: 50%;
  margin-bottom: 4rem;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  animation: updown 4s ease-out infinite;
  transform: translateY(-.3rem)translateX(-50%) scaleX(4) scaleY(3);
}
.moreButton.scrolled {
  color: rgba(0, 0, 0, 0);
  transition: color 0.3s ease-in-out;
  pointer-events: none;
}

.moreButton.scrolled:hover {
  cursor: auto;
}

.banner h1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 1;
  display: block;
  text-align: left;
}

.banner h2 {
  display: block;
  text-align: left;
}
.banner p {
  margin-top: 1.5rem;
  color: #B8B8B8;
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
  width: 96%;
  text-align: left;
}
.banner .connect {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 6rem;
  letter-spacing: 0.08rem;
  display: flex;
  align-items: center;
}
.banner .connect svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner .connect:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-.3rem) translateX(-50%) scaleX(4) scaleY(3);
  }
  8% {
    transform: translateY(.3rem)translateX(-50%) scaleX(4) scaleY(3);
  }
  16% {
    transform: translateY(-.3rem)translateX(-50%) scaleX(4) scaleY(3);
  }
  24% {
    transform: translateY(.3rem)translateX(-50%) scaleX(4) scaleY(3);
  }
  32% {
    transform: translateY(-.3rem)translateX(-50%) scaleX(4) scaleY(3);
  }
  100% {
    transform: translateY(-.3rem)translateX(-50%) scaleX(4) scaleY(3);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Projects Css ************/
:root{
  --pj1-color1: rgb(40, 246, 74);
  --pj1-color2: rgb(31, 224, 249);
  --pj2-color1: rgb(246, 40, 40);
  --pj2-color2: rgb(255, 186, 36);
  --pj3-color1: rgb(163, 40, 246);
  --pj3-color2: rgb(77, 85, 255);
  --pj1-color1a: rgba(40, 246, 74, 0.55);
  --pj1-color2a: rgba(31, 224, 249, 0.55);
  --pj2-color1a: rgba(246, 40, 40, 0.55);
  --pj2-color2a: rgba(255, 186, 36, 0.55);
  --pj3-color1a: rgba(163, 40, 246, 0.55);
  --pj3-color2a: rgba(77, 85, 255, 0.55);
}


.project .funny-title a{
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: Bold;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;
  --bg-size: 400%;
}

.project:nth-child(1) .funny-title a{
  background: linear-gradient(
          90deg,
          var(--pj1-color1),
          var(--pj1-color2),
          var(--pj1-color1)
  ) 0 0 / var(--bg-size) 50%;
  -webkit-background-clip: text;
  background-clip: text;
  pointer-events: auto;
}

.project:nth-child(2) .funny-title a{
  background: linear-gradient(
          90deg,
          var(--pj2-color1),
          var(--pj2-color2),
          var(--pj2-color1)
  ) 0 0 / var(--bg-size) 50%;
  -webkit-background-clip: text;
  background-clip: text;
  pointer-events: auto;
}

.project:nth-child(3) .funny-title a{
  background: linear-gradient(
          90deg,
          var(--pj3-color1),
          var(--pj3-color2),
          var(--pj3-color1)
  ) 0 0 / var(--bg-size) 50%;
  -webkit-background-clip: text;
  background-clip: text;
  pointer-events: auto;
}

.project .funny-title{
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: Bold;
  text-align: center;
  color: #fff;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.project .funny-title:hover{
  transform: scale(1.1);
}

.project .funny-title a:hover{
  color: transparent;
  animation: funny-effect linear 8s infinite;
}

@keyframes funny-effect {
  to {
    background-position: var(--bg-size) 0;
  }
}

.background-image-right {
  top: 200%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/* projects */
.project {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 3rem;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.project::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .5rem;
}

.project:nth-child(1)::after{
  background: linear-gradient(90deg, var(--pj1-color1), var(--pj1-color2) 111.58%);
}

.project:nth-child(2)::after{
  background: linear-gradient(90deg, var(--pj2-color1), var(--pj2-color2) 111.58%);
}

.project:nth-child(3)::after{
  background: linear-gradient(90deg, var(--pj3-color1), var(--pj3-color2) 111.58%);
}

.project .demo-link{
  width: auto;
  height: auto;
  display: flex;
  top: 0;
}

.project .demo-link .demo{
  object-fit: cover;
  width: auto;
  height: auto;
  aspect-ratio: 3/2;
  max-width: 40vw;
  margin: 0;
  padding: 0;

}

.project img {
  width: 3rem;
  height: auto;
  object-fit: contain;
  margin: .5rem 0 .5rem 0;
}

.project .project-details {
  width: auto;
  height: auto;
  margin: 2rem 1rem 1rem 1rem;
  padding: 0 1rem 0 1rem;
}

.project-details p {
  width: 100%;
  height: auto;
  text-align: left;
  font-family: Karla, sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0;
  color: #B8B8B8;
}


.project-details .project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.project-details .my-tag {
  font-size: .7rem;
  margin: .3rem .6rem .3rem 0;
  padding: .3rem .6rem .3rem .6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.18);
  display: inline-block;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: rgba(255, 255, 255, 0.71);
}

.project:nth-child(1) .my-tag{
  background: linear-gradient(90.21deg, var(--pj1-color1a), var(--pj1-color2a) 111.58%);
}

.project:nth-child(2) .my-tag{
  background: linear-gradient(90.21deg, var(--pj2-color1a), var(--pj2-color2a) 111.58%);
}

.project:nth-child(3) .my-tag{
  background: linear-gradient(90.21deg, var(--pj3-color1a), var(--pj3-color2a) 111.58%);
}

.project-links {
   place-content: center;
}
.project-links a {
  padding: .3rem;
}

.project-links .googleImg {
    width: 11rem;
    height: auto;
    object-fit: contain;
}

.projects{
  background-color: rgb(18, 18, 18);
  display: flex;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}
.projects .header-bg {
  background-color: #ccc;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee);
  background-size: 20px 20px;
}
.projects .header-bg  h1 {
  font-weight: bold;
  padding: 2rem;
  font-size: 3rem;
  backface-visibility: hidden;
}

@media only screen and (max-width: 1000px) {


  .projects {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .project {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
  }
  .project .project-details a{
    width: 100%;
    height: auto;
    float: none;
    object-fit: contain;

  }
  .project .demo-link .demo{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/2;
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .project .project-details {
    width: 100%;
    float: none;
    height: auto;
    object-fit: contain;
    margin: 0;
    padding: 2rem 1rem 1rem 1rem;
  }

  .project .project-details p{
    width: 100%;
    padding: .7rem;
    margin: 0;
  }

  .project .project-details .project-tags {
    width: 100%;
    padding: .7rem;
    margin: 0;
  }

  .project .funny-title:hover{
    transform: scale(1.05);
  }
}

.project h1 {
  font-size: 1rem;
  font-weight: 500;
}

/* for all hidden elements in the project component, add transition from hidden to show */
.project {
  opacity: 0;
  /*filter: blur(2px);*/
  transform: translateX(-5%);
  transition: all 1.5s;

  max-width: 100%;
  height: auto;
}

@media(prefers-reduced-motion) {
  .project {
    transition: none;
  }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/************ Footer Css ************/
.footer {
  padding: 50px 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}